{% extends 'main_filter.html.twig' %}
{% block content %}
<div class="container">
    <!-- Breadcrumbs line -->
      <style type="text/css" class="init">
              td.details-control {
                            background: url('{{ asset('template/assets/img/details_open.png')}}') no-repeat center center;
                            cursor: pointer;
              }
              tr.shown td.details-control {
                            background: url('{{ asset('template/assets/img/details_close.png')}}') no-repeat center center;
              }
    </style>
    <div class="crumbs" role="">
        <ul id="breadcrumbs" class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ path('home_admin_data') }}">Dashboard</a>
            </li>
        </ul>
        </div>

        <div class="page-header">
            <div class="page-title">
                <span>Hello, {{app.user.username|capitalize}}!</span>
            </div>
        </div>

        <!-- <div>
            <h2>Posts</h2>
            {#  {{ sg_datatables_render(datatable) }}  #}

        </div> -->

        <table id="example" cellspacing="0" width="100%">

    </table>


        {% block script_endd %}

            <script>
            function format ( d ) {
                    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                        '<tr>'+
                            '<td>C-Month:</td>'+
                            '<td>'+d.CMonth+'</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>ReceivedVials:</td>'+
                            '<td>'+d.ReceivedVials+'</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>UsedVials:</td>'+
                            '<td>'+d.UsedVials+'</td>'+
                        '</tr>'+
                    '</table>';
            }

                $(document).ready(function () {
                    // $('.loading, .loading-top').hide();
                    // testdata1 = [{"Region":"CR","Province":"Kabul","District":"Kabul","SDistrict":"1A","Cluster":"1A","CType":"1A","CMonth":"1A","CYear":"1A","SubDistrictName":"1B","ReceivedVials":"329","UsedVials":"307",
                    // "Child011":"919","Child1259":"4433","RegAbsent":"519","VaccAbsent":"70","RegSleep":"3","VaccSleep":"33","RegRefusal":"65","VaccRefusal":"43",
                    // "VaccDay":"1","Missed":"449"}];
                     //Hide the table

                    lastcampdata = JSON.parse('{{lastcamp|raw}}');


                    var cols = [
                      {
                          "class":          "details-control",
                          "orderable":      false,
                          "data":           null,
                          "defaultContent": "",
                          "width": "4%"
                      },
                        { "data": "Region"},
                        { "data": "Province" },
                        { "data": "District"},
                        { "data": "SDistrict", "visible": false},
                        { "data": "Cluster"},
                        { "data": "CType"},
                        { "data": "CMonth", "visible": false},
                        { "data": "CYear"},
                        { "data": "ReceivedVials", "visible": false},
                        { "data": "UsedVials", "visible": false},
                        // { "data": "VaccineWastage", "visible": false},
                        { "data": "Child011", "visible": false},
                        { "data": "Child1259", "visible": false},
                        { "data": "RegAbsent", "visible": false},
                        { "data": "VaccAbsent", "visible": false},
                        { "data": "RemainingAbsent", "visible": false},
                        { "data": "RegSleep", "visible": false},
                        { "data": "VaccSleep", "visible": false},
                        { "data": "RemainingSleep", "visible": false},
                        { "data": "RegRefusal", "visible": false},
                        { "data": "VaccRefusal", "visible": false},
                        { "data": "RemainingRefusal", "visible": false},
                        { "data": "VaccDay", "visible": false},
                        // { "data": "TotalChildrenVaccinated", "visible": false}
                    ];

                    //console.log(testdata);
                    var table = $('#example').DataTable( {
                        //  "processing": true,
                        dom: 'Blfrtip',
                        "searching": false,
                        buttons: [{
                                      extend: 'colvis',
                                      columns: ':not(.noVis)'
                                  },
                                  {
                                     extend: 'collection',
                                     text: 'Raw Data',
                                     buttons: [ {
                                              extend: 'excelHtml5',
                                              exportOptions: {
                                                  columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19 ]
                                              }
                                                },
                                                {
                                                   extend: 'csvHtml5',
                                                   exportOptions: {
                                                       columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19 ]
                                                   }
                                                 } ]

                                  },
                                  {
                                     extend: 'collection',
                                     text: 'Aggregate Data',
                                     buttons: [ {
                                              extend: 'excelHtml5',
                                              exportOptions: {
                                                  columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19 ]
                                              }
                                                },
                                                {
                                                   extend: 'csvHtml5',
                                                   exportOptions: {
                                                       columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19 ]
                                                   }
                                                 }]

                                  }

                        ],
                        destroy: true,
                        "pageLength": 10,
                        "type"   : "POST",
                        //  "serverSide": true,
                         "aaData": lastcampdata,
                        //  columnDefs: [
                        //   {
                        //       targets: 1,
                        //       className: 'noVis'
                        //   }],
                        "columns": cols,
                        "order": [[1, 'asc']]
                        } );


                        document.getElementById("example").className = "table table-striped table-bordered table-hover table-checkable datatable";
                    var detailRows = [];

                    $('#example tbody').on('click', 'td.details-control', function () {
                          var tr = $(this).closest('tr');
                          var row = table.row( tr );

                          if ( row.child.isShown() ) {
                              // This row is already open - close it
                              row.child.hide();
                              tr.removeClass('shown');
                          }
                          else {
                              // Open this row
                              row.child( format(row.data()) ).show();
                              tr.addClass('shown');
                          }
                      } );


                    $('#filterButton').click(function () {
                        var campaigns = $('#filterCampaign option:selected');
                        var selectedCampaigns = [];
                        $(campaigns).each(function (index, campaigns) {
                            selectedCampaigns.push([$(this).val()]);
                        });

                        var region = $('#filterRegion option:selected');
                        var selectedRegions = [];
                        $(region).each(function (index, region) {
                            selectedRegions.push([$(this).val()]);
                        });

                        var provinces = $('#filterProvince option:selected');
                        var selectedProvinces = [];
                        $(provinces).each(function (index, provinces) {
                            selectedProvinces.push([$(this).val()]);
                        });

                        var districts = $('#filterDistrict option:selected');
                        var selectedDistricts = [];
                        $(districts).each(function (index, districts) {
                            selectedDistricts.push([$(this).val()]);
                        });

                        var data = {'campaign':selectedCampaigns, 'region':selectedRegions, 'province': selectedProvinces, 'district': selectedDistricts};

                        $.ajax({
                            url: Routing.generate('ajax_download_data'),
                            data: data,
                            type: 'POST',
                            success: function (data) {
                                //console.log(data);
                                 var jsonData = JSON.parse(data);
                                 //$('td:nth-child(2),th:nth-child(2)').hide();
                                 table.clear();
                                 table.rows.add( jsonData ).draw();
                            },
                            cache: false
                        });

                    })
                });

            </script>

        {% endblock %}


</div>
{% endblock %}
