{% extends 'main.html.twig' %}
{% block content %}
<div class="container">
    <!-- Breadcrumbs line -->
    <div class="crumbs" role="">
        <ul id="breadcrumbs" class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ path('home_admin_data') }}">Dashboard</a>
            </li>
            {#<li class="current">#}
                {#<a href="pages_calendar.html" title="">Calendar</a>#}
            {#</li>#}
        </ul>
        <ul class="crumb-buttons">

            <li><a href="{{ table ~'_template.xlsx' }}"><i class="icon-download"></i> Download Template</a></li>


        </ul>
        <!--
        <ul class="crumb-buttons">
            <li><a href="charts.html" title=""><i class="icon-signal"></i><span>Statistics</span></a></li>
            <li class="dropdown"><a href="#" title="" data-toggle="dropdown"><i class="icon-tasks"></i><span>Users <strong>(+3)</strong></span><i class="icon-angle-down left-padding"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="form_components.html" title=""><i class="icon-plus"></i>Add new User</a></li>
                    <li><a href="tables_dynamic.html" title=""><i class="icon-reorder"></i>Overview</a></li>
                </ul>
            </li>
            <li class="range">
                <a href="#">
                    <i class="icon-calendar"></i>
                    <span></span>
                    <i class="icon-angle-down"></i>
                </a>
            </li>
        </ul>
        -->
    </div>
  <div class="row">
    <!-- /Breadcrumbs line -->
    <!--=== Page Header ===-->
    <div class="page-header">
        <div class="page-title">
                {% if table == "admin_data" %}
                  {% block admin_desc %}
                        <div class="widget-content">
                          <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Admin Data Upload </a>
                                </h3>
                              </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                 Welcome to admin data uploading page. please check your file template before uploading. After successful uploading,
                                 you will be prompted a success message and after that you sync your data to master repository.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  {% endblock %}
                {% endif %}

                {% if table == "catchup_data" %}
                    {% block catchup_desc %}
                        <div class="widget-content">
                          <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Catchup Data Upload </a>
                                </h3>
                              </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                 Welcome to Catchup data uploading page. please check your file template before uploading. After successful uploading, you will be prompted a success message and after that you sync your data to master repository.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endblock %}
                {% endif %}

                {% if table == "icm_data" %}
                    {% block icm_desc %}
                        <div class="widget-content">
                          <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Icm Data Upload </a>
                                </h3>
                              </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                 Welcome to Icm data uploading page. please check your file template before uploading. After successful uploading, you will be prompted a success message and after that you sync your data to master repository.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endblock %}
                {% endif %}

            {# <span>Good morning, {{app.user.username|capitalize}}!</span> #}
        </div>

        <!-- Page Stats -->
        <!--
        <ul class="page-stats">
            <li>
                <div class="summary">
                    <span>New orders</span>
                    <h3>17,561</h3>
                </div>
                <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
                <!-- Use instead of sparkline e.g. this:
                <div class="graph circular-chart" data-percent="73">73%</div>

            </li>
            <li>
                <div class="summary">
                    <span>My balance</span>
                    <h3>$21,561.21</h3>
                </div>
                <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
            </li>
        </ul>
        -->
        <!-- /Page Stats -->
    </div>


        {{form_start(form)}}
        <div class="form-group">
            {{ form_row(form.file) }}
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-info" value="Upload Data" name="upload_data" {{uploadbutt}}>
        </div>

                {% for message in app.session.flashBag.get('exception') %}
            <div class="alert alert-danger fade in">
                    <i class="icon-remove close" data-dismiss="alert"></i>
                    <strong>Notice!</strong> {{ ' Your file template is not correct. Please make sure that your template is the same as data source
                    template availabe in the top menu of the page.'}}
            </div>
                {% endfor %}


            {% for message in app.session.flashBag.get('notice') %}
        <div class="alert alert-info fade in">
                <i class="icon-remove close" data-dismiss="alert"></i>
                <strong>Info!</strong> {{ message }}
        </div>
            {% endfor %}


       {% for message in app.session.flashBag.get('datatype_exception') %}
    <div class="alert alert-danger fade in">
            <i class="icon-remove close" data-dismiss="alert"></i>
            <strong>Notice!</strong> {{ message }}
    </div>
        {% endfor %}

        {{ form_end(form) }}


        {# form2 render #}
        {{form_start(form2)}}

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Sync to Master" name="sync_data" {{syncbutt}}>
        </div>

        {% for message in app.session.flashBag.get('noticee') %}
        <div class="alert alert-success fade in">
            <i class="icon-remove close" data-dismiss="alert"></i>
            <strong>Info!</strong> {{ message }}
        {% endfor %}
        {% for message in app.session.flashBag.get('masterexception') %}
        <div class="alert alert-danger fade in">
            <i class="icon-remove close" data-dismiss="alert"></i>
            <strong>Info!</strong> {{ message }}
        {% endfor %}
        </div>

        {{ form_end(form2) }}
    </div>
</div>
{% endblock %}
