<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- Apple devices fullscreen -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- Apple devices fullscreen -->
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/plugins/jquery-ui/smoothness/jquery-ui.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/plugins/jquery-ui/smoothness/jquery.ui.theme.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/themes.css') }}" >

{#added by me!#}
      <link rel="stylesheet" href="{{ asset('css/plugins/pageguide/pageguide.css') }}" >
      <link rel="stylesheet" href="{{ asset('css/plugins/chosen/chosen.css') }}" >
      <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.css') }}" >
      <link rel="stylesheet" href="{{ asset('css/plugins/chosen/chosen.css') }}" >

{% endblock %}
{% block javascripts %}
    {#<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>#}
  <script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('js/plugins/nicescroll/jquery.nicescroll.min.js') }}"></script>
  <script src="{{ asset('js/plugins/imagesLoaded/jquery.imagesloaded.min.js') }}"></script>
  <script src="{{ asset('js/plugins/jquery-ui/jquery.ui.core.min.js') }}"></script>
  <script src="{{ asset('js/plugins/jquery-ui/jquery.ui.widget.min.js') }}"></script>
  <script src="{{ asset('js/plugins/jquery-ui/jquery.ui.mouse.min.js') }}"></script>
  <script src="{{ asset('js/plugins/jquery-ui/jquery.ui.resizable.min.js') }}"></script>
  <script src="{{ asset('js/plugins/jquery-ui/jquery.ui.sortable.min.js') }}"></script>
  <script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/plugins/bootbox/jquery.bootbox.js') }}"></script>
  <script src="{{ asset('js/eakroko.min.js') }}"></script>
  <script src="{{ asset('js/application.js') }}"></script>
  <script src="{{ asset('js/demonstration.js') }}"></script>
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{#added by me!#}
  <script src="{{ asset('js/plugins/icheck/jquery.icheck.min.js') }}"></script>
  <script src="{{ asset('js/plugins/nicescroll/jquery.nicescroll.min.js') }}"></script>
  {# <script src="{{ asset('js/plugins/validation/jquery.validate.min.js') }}"></script> #}
  <script src="{{ asset('js/plugins/validation/additional-methods.min.js') }}"></script>
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


{% endblock %}
</head>
<body>
	<!-- Navigation Top -->
  {% block nav %}
  {% include 'pages/shared/nav.html.twig' %}
  {% endblock %}
	<!-- End of Navigation -->
	<!-- Navigation left side -->
  <div class="container-fluid" id="content">
    {% block left_nav %}
    {% include('pages/shared/nav_left.html.twig')%}
    {% endblock %}
  	<!-- End of Navigation left side -->

  	<!-- Content Main -->
    {% block content %}{% endblock %}
  </div>
    {% block script_end %}{% endblock %}
	<!-- End of content -->
</body>

</html>
