{% extends 'main_filter.html.twig' %}
{% block content %}
<div class="container">
  <!-- Breadcrumbs line -->
  <style type="text/css" class="init">
  td.details-control {
    background: url('{{ asset('template/assets/img/details_open.png')}}') no-repeat center center;
    cursor: pointer;
  }
  tr.shown td.details-control {
    background: url('{{ asset('template/assets/img/details_close.png')}}') no-repeat center center;
  }
  </style>
  <div class="crumbs" role="">
    <ul id="breadcrumbs" class="breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="{{ path('dashboard_main') }}">Home</a>
      </li>
      <li class="">
        <a href="#" title="">
          {% if table == "admin_data" %}
          Admin Data
          {% endif %}
          {% if table == "catchup_data" %}
          Catchup Data
          {% endif %}
          {% if table == "icm_data" %}
          Icm Data
          {% endif %}
        </a>
      </li>
      <li class="current">
        <a href="{{ path(app.session.get('visited_url')) }}" title="">
          {% if('admin' in app.session.get('visited_url')) %} Download
          {% elseif('icm' in app.session.get('visited_url')) %} Download
          {% elseif('catchup' in app.session.get('visited_url')) %} Download
          {% endif %}
        </a>
      </li>
    </ul>

    <ul class="crumb-buttons">
      <li class="dropdown"><a href="#" title="" data-toggle="dropdown"><i class="icon-tasks"></i><span>Select Data Format</span><i class="icon-angle-down left-padding"></i></a>
        <ul class="dropdown-menu pull-right">
          <li><a id="rawLink" href="#" title="">Raw Data</a></li>
          <li><a id="aggLink" href="#" title="">Aggregate Data</a></li>
        </ul>
      </li>
    </ul>

    <ul class="pull-right breadcrumb">
      <li>
        <span class="loading-top">Updating Datatable Content  <img src='{{ asset('ajax-loader-arrow.gif')}}' /></span>
      </li>
    </ul>
  </div>

  <!-- <div class="page-header">
  <div class="page-title">
  <span>Hello, {{app.user.username|capitalize}}!</span>
</div>
</div> -->

<!-- <label> Select data format: </label><br>
<select id="data-format">
<option value="raw">Raw Data</option>
<option value="agg">Aggregate Data</option>
</select> -->
<!-- <button type="button" id="loadButton">Load</button> -->
<br>

<table id="example" cellspacing="0" width="100%">
</table>

                    <!-- Modal dialog -->
											<div class="modal fade" id="myModal1">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															<h4 class="modal-title">Modal title</h4>
														</div>
														<div class="modal-body">

                              {# {{ render(controller(
                                  'AppPolioDbBundle:Render/DataEntry:DashboardEditData',
                                  { 'id': 3 }
                              )) }} #}



        <!-- <div class="row">
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i> Edit Entry</h4>
							</div>
							<div class="widget-content">
								<form class="form-horizontal row-border" action="#" id="myForm">
									<div class="form-group">
										<label class="col-md-2 control-label">Cluster</label>
										<div class="col-md-10"><input type="text" name="regular" class="form-control input-width-medium" id="cluster"></div>
									</div>

									<div class="form-group">
										<label class="col-md-2 control-label">SDistrictName</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="pass" id="sdistrictname"></div>
									</div>

									<div class="form-group">
										<label class="col-md-2 control-label">TPopulation</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="tpopulation"></div>
									</div>

                  <div class="form-group">
										<label class="col-md-2 control-label">receivedVials</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="rvials"></div>
									</div>

                  <div class="form-group">
										<label class="col-md-2 control-label">usedVials</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="uvials"></div>
									</div>

                  <div class="form-group">
										<label class="col-md-2 control-label">child011</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="child011"></div>
									</div>

                  <div class="form-group">
										<label class="col-md-2 control-label">child1259</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="child1259"></div>
									</div>

                  <div class="form-group">
										<label class="col-md-2 control-label">regAbsent</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="rabsent"></div>
									</div>
                  <div class="form-group">
										<label class="col-md-2 control-label">vaccAbsent</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="vabsent"></div>
									</div>

                  <div class="form-group">
										<label class="col-md-2 control-label">regSleep</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="rsleep"></div>
									</div>
                  <div class="form-group">
										<label class="col-md-2 control-label">vaccSleep</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="vsleep"></div>
									</div>
                  <div class="form-group">
										<label class="col-md-2 control-label">regRefusal</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="rrefusal"></div>
									</div>
                  <div class="form-group">
										<label class="col-md-2 control-label">vaccRefusal</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="vrefusal"></div>
									</div>
                  <div class="form-group">
										<label class="col-md-2 control-label">newPolioCase</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="npoliocase"></div>
									</div>
                  <div class="form-group">
										<label class="col-md-2 control-label">vaccDay</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="vday"></div>
									</div>
                  <div class="form-group">
										<label class="col-md-2 control-label">districtCode</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="dcode"></div>
									</div>
                  <div class="form-group">
										<label class="col-md-2 control-label">campaign</label>
										<div class="col-md-10"><input class="form-control input-width-medium" type="text" name="placeholder" id="campaign"></div>
									</div>
                  <br>
                  <input type="submit" class="btn btn-info pull-right" value="Submit" data-dismiss="modal" />

								</form>
							</div>
						</div>
					</div>
				</div>
      </div> -->








														<!-- <div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
															<button type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button> -->
														</div>
													</div>
												</div>
											</div>


{% block script_endd %}

<script>


$(document).ready(function () {

  $('.loading, .loading-top').hide();

  //local variables
  var dataType = 'raw';
  var table;
  var source, sourceCols;

  //Initialize datatable with last campaign raw data
  source = JSON.parse('{{lastcamp|raw}}');
  sourceCols = [
    // {
    //     "class":          "details-control",
    //     "orderable":      false,
    //     "data":           null,
    //     "defaultContent": "",
    //     "width": "4%"
    // },
    { "data": "ID", "visible": false, title : 'ID'},
    { "data": "Region", "visible": false, title : 'Region'},
    { "data": "Province", title : 'Province' },
    { "data": "District", title : 'District'},
    { "data": "SDistrict", "visible": false, title : 'SDistrict'},
    { "data": "Cluster", title : 'Cluster'},
    { "data": "CName", title : 'CName'},
    { "data": "CType", "visible": false, title : 'CType'},
    { "data": "CMonth", "visible": false, title : 'CMonth'},
    { "data": "CYear", "visible": false, title : 'CYear'},
    { "data": "ReceivedVials", "visible": false, title : 'ReceivedVials'},
    { "data": "UsedVials",  "visible": false, title : 'UsedVials'},
    { "data": "Child011",  "visible": false, title : 'Child011'},
    { "data": "Child1259", "visible": false, title : 'Child1259'},
    { "data": "RegAbsent", "visible": false, title : 'RegAbsent'},
    { "data": "VaccAbsent", "visible": false, title : 'VaccAbsent'},
    { "data": "RemainingAbsent", title : 'RemainingAbsent'},
    { "data": "RegSleep", "visible": false, title : 'RegSleep'},
    { "data": "VaccSleep", "visible": false, title : 'VaccSleep'},
    { "data": "RemainingSleep", title : 'RemainingSleep'},
    { "data": "RegRefusal", "visible": false, title : 'RegRefusal'},
    { "data": "VaccRefusal", "visible": false, title : 'VaccRefusal'},
    { "data": "RemainingRefusal",  title : 'RemainingRefusal'},
    { "data": "VaccDay", title : 'VaccDay'},
    { "data": null}
  ];
  createDatatable(source, sourceCols);


  $("#rawLink").click(function() {

    var filterData = getData();
    $('.loading, .loading-top').show();
    $.ajax({
      url: Routing.generate('ajax_download_admin_data'),
      data: filterData,
      type: 'POST',
      success: function (data) {
        //console.log(data);
        source = JSON.parse(data);
        sourceCols = [
          //  {
          //       "class":          "details-control",
          //       "orderable":      false,
          //       "data":           null,
          //       "defaultContent": "",
          //       "width": "4%"
          //   },
          { "data": "ID", "visible": false, title : 'ID'},
          { "data": "Region", "visible": false, title : 'Region'},
          { "data": "Province", title : 'Province' },
          { "data": "District", title : 'District'},
          { "data": "SDistrict", "visible": false, title : 'SDistrict'},
          { "data": "Cluster", title : 'Cluster'},
          { "data": "CName", title : 'CName'},
          { "data": "CType", "visible": false,title : 'CType'},
          { "data": "CMonth", "visible": false, title : 'CMonth'},
          { "data": "CYear", "visible": false, title : 'CYear'},
          { "data": "ReceivedVials", "visible": false, title : 'ReceivedVials'},
          { "data": "UsedVials", "visible": false, title : 'UsedVials'},
          { "data": "Child011", "visible": false, title : 'Child011'},
          { "data": "Child1259", "visible": false, title : 'Child1259'},
          { "data": "RegAbsent", "visible": false, title : 'RegAbsent'},
          { "data": "VaccAbsent", "visible": false, title : 'VaccAbsent'},
          { "data": "RemainingAbsent", title : 'RemainingAbsent'},
          { "data": "RegSleep", "visible": false, title : 'RegSleep'},
          { "data": "VaccSleep", "visible": false, title : 'VaccSleep'},
          { "data": "RemainingSleep", title : 'RemainingSleep'},
          { "data": "RegRefusal", "visible": false, title : 'RegRefusal'},
          { "data": "VaccRefusal", "visible": false, title : 'VaccRefusal'},
          { "data": "RemainingRefusal", title : 'RemainingRefusal'},
          { "data": "VaccDay", title : 'VaccDay'},
          { "data": null}
        ];
        createDatatable(source, sourceCols);
        dataType = 'raw';
        $('.loading, .loading-top').hide();
      },
      cache: false
    });

  });

  $("#aggLink").click(function() {

    var filterData = getData();
    $('.loading, .loading-top').show();
    $.ajax({
      url: Routing.generate('ajax_download_admin_agg_data'),
      data: filterData,
      type: 'POST',
      success: function (data) {
        //console.log(data);
        source = JSON.parse(data);

        sourceCols = [
          // {
          //      "class":          "details-control",
          //      "orderable":      false,
          //      "data":           null,
          //      "defaultContent": "",
          //      "width": "4%"
          //  },
          { "data": "ID", "visible": false, title : 'ID'},
          { "data": "Region", "visible": false, title : 'Region'},
          { "data": "Province", title : 'Province' },
          { "data": "District", title : 'District'},
          { "data": "DCODE", "visible": false, title : 'DCODE'},
          { "data": "CDate", title : 'CDate'},
          { "data": "CID", title : 'CID'},
          { "data": "CType", "visible": false, title : 'CType'},
          { "data": "CYear", title : 'CYear'},
          { "data": "CMonth", "visible": false, title : 'CMonth'},
          { "data": "ClusterName", "visible": false, title : 'ClusterName'},
          { "data": "ClusterNo", "visible": false, title : 'ClusterNo'},
          { "data": "RVials", "visible": false, title : 'RVials'},
          { "data": "UVials", "visible": false, title : 'UVials'},
          { "data": "VaccWastage", "visible": false, title : 'VaccWastage'},
          { "data": "VaccChild", "visible": false, title : 'VaccChild'},
          { "data": "Child011", "visible": false, title : 'Child011'},
          { "data": "Child1259", "visible": false, title : 'Child1259'},
          { "data": "MissedVaccinated", "visible": false, title : 'MissedVaccinated'},
          { "data": "RegAbsent", "visible": false, title : 'RegAbsent'},
          { "data": "VaccAbsent", "visible": false, title : 'VaccAbsent'},
          { "data": "RemainingAbsent", "visible": false, title : 'RemainingAbsent'},
          { "data": "RegNSS", "visible": false, title : 'RegNSS'},
          { "data": "VaccNSS", "visible": false, title : 'VaccNSS'},
          { "data": "RemainingNSS", "visible": false, title : 'RemainingNSS'},
          { "data": "RegRefusal", "visible": false, title : 'RegRefusal'},
          { "data": "VaccRefusal", "visible": false, title : 'VaccRefusal'},
          { "data": "RemainingRefusal", "visible": false, title : 'RemainingRefusal'},
          { "data": "TotalRemaining", "visible": false, title : 'TotalRemaining'},
          { "data": null}
        ];
        createDatatable(source, sourceCols);
        dataType = 'agg';
        $('.loading, .loading-top').hide();
      },
      cache: false
    });

  });

  //create datatable with the source and provided columns
  function createDatatable(data, cols) {
    if ( $.fn.DataTable.isDataTable( '#example' ) ) {
      $('#example').DataTable().destroy();
      $('#example').empty();
    };

    table = $('#example').DataTable( {
      //  "processing": true,
      dom: 'Blfrtip',
      responsive: true,
      language: {
        search: "",
        searchPlaceholder: "Search..."
      },
      //scrollY: 600,
      deferRender: true,
      //"searching": false,
       buttons: [{
        extend: 'colvis',
        columns: ':not(.noVis)',
        collectionLayout: 'fixed two-column'
      },
      {
        extend: 'collection',
        text: 'Download',
        buttons: [ {
          extend: 'excelHtml5',
          exportOptions: {
                    columns: [ 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23 ]
                }
        },
        {
          extend: 'csvHtml5',
          exportOptions: {
                    columns: [ 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23 ]
                }
        }]
      }
    ],
    destroy: true,
    "pageLength": 25,
    "type"   : "POST",
    "aaData": data,

    "columns": cols,
    "order": [[1, 'asc']],
    "columnDefs": [
      {
      "targets": -1,
      "width": "8%",
      "data": null,
      "defaultContent": '<button class="btn btn-xs" data-toggle="modal" type="button" data-target="#myModal1"><i class="icon-edit"></i></button>'
      + '<button class="btn btn-xs"  type="button"><i class="icon-bar-chart"></i></button>'
    } ]
  } );
}



$('#example tbody').on( 'click', '.btn, .btn-xs', function () {
        var infoModal = $('#myModal1');
         //console.log(table.row( $(this).parents('tr')).id());
        // var trElem = $(this).closest("tr");// grabs the button parent tr element
        // var firstTd = $(trElem).children("td")[0]; //takes the first td which would have your Id
        // var id = $(firstTd).text();
        // console.log(id);
        // var iddata = {"id": id};
        // location.href = Routing.generate('edit_admin_data', { "id": id });

        var row = $(this).closest('tr');
        var data = $('#example').dataTable().fnGetData(row);
        var id = data["ID"];
        var iddata = {"id": id};


        $.ajax({
            url: Routing.generate('edit_admin_data'),
            data: iddata,
            type: 'POST',
            success: function (data) {
        //         //$('#'+target).multiselect('dataprovider', JSON.parse(data));
        //         console.log(data);
          //       htmlData = '<ul><li>title: '+data.cluster+'</li><li>age: '+data.vaccDay+'</li></ul>';
           infoModal.find('.modal-body').html(data);
          //  $("#cluster").val(data.cluster);
          //  $("#sdistrictname").val(data.subDistrictName);
          //  $("#tpopulation").val(data.targetPopulation);
          //  $("#cluster").val(data.cluster);
          //  $("#rvials").val(data.receivedVials);
          //  $("#uvials").val(data.usedVials);
          //  $("#child011").val(data.child011);
          //  $("#child011").val(data.child011);
          //  $("#rabsent").val(data.regAbsent);
          //  $("#vabsent").val(data.vaccAbsent);
          //  $("#rsleep").val(data.regSleep);
          //  $("#vsleep").val(data.vaccSleep);
          //  $("#rrefusal").val(data.regRefusal);
          //  $("#vrefusal").val(data.vaccRefusal);
          //  $("#npoliocase").val(data.newPolioCase);
          //  $("#vday").val(data.vaccDay);
          //  $("#dcode").val(data.districtCode.districtCode);
          //  $("#campaign").val(data.campaign.campaignId);
           //modal.modal('show');
            }
         });


    } );

    // $('#myForm').on('submit',function(){
    //         console.log("done");
    //     });


document.getElementById("example").className = "table table-striped table-bordered table-hover table-checkable datatable";


//get filter selected data
function getData(){
  var campaigns = $('#filterCampaign option:selected');
  var selectedCampaigns = [];
  $(campaigns).each(function (index, campaigns) {
    selectedCampaigns.push([$(this).val()]);
  });

  var region = $('#filterRegion option:selected');
  var selectedRegions = [];
  $(region).each(function (index, region) {
    selectedRegions.push([$(this).val()]);
  });

  var provinces = $('#filterProvince option:selected');
  var selectedProvinces = [];
  $(provinces).each(function (index, provinces) {
    selectedProvinces.push([$(this).val()]);
  });

  var districts = $('#filterDistrict option:selected');
  var selectedDistricts = [];
  $(districts).each(function (index, districts) {
    selectedDistricts.push([$(this).val()]);
  });

  var data = {'campaign':selectedCampaigns, 'region':selectedRegions, 'province': selectedProvinces, 'district': selectedDistricts};

  return data;
}



function reloadDatatable(data){
  $('.loading, .loading-top').show();
  if (dataType == 'raw'){
    $.ajax({
      url: Routing.generate('ajax_download_admin_data'),
      data: data,
      type: 'POST',
      success: function (data) {
        //console.log(data);
        var jsonData = JSON.parse(data);
        //$('td:nth-child(2),th:nth-child(2)').hide();
        table.clear();
        table.rows.add( jsonData ).draw();

        $('.loading, .loading-top').hide();
      },
      cache: false
    });
  }
  else{
    $.ajax({
      url: Routing.generate('ajax_download_admin_agg_data'),
      data: data,
      type: 'POST',
      success: function (data) {
        //console.log(data);
        var jsonData = JSON.parse(data);
        //$('td:nth-child(2),th:nth-child(2)').hide();
        table.clear();
        table.rows.add( jsonData ).draw();

        $('.loading, .loading-top').hide();
      },
      cache: false
    });

  }
}


$('#filterButton').click(function () {
  var filterData = getData();
  reloadDatatable(filterData);
})
});

</script>

{% endblock %}


</div>
{% endblock %}
