{% trans_default_domain 'FOSUserBundle' %}
<<<<<<< HEAD
<div id="main" >
  <div class="container-fluid">
    <div class="page-header box">
      <div class="box-title">
        <h1 style="font-size:20px;line-height:24px;font-weight:400">Update Password</h1>
      </div>
    </div>
      <div class="row-fluid">


{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    </div>
    </div>
{{ form_end(form) }}
=======
<div class="row">
    <!--=== Vertical Forms ===-->
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i> Change Password</h4>
            </div>
            <div class="widget-content">
            {{ form_start(form, { 'action': path('fos_user_change_password'),
                'attr': { 'class': 'form-vertical row-border' } }) }}
                    {{form_widget(form)}}
                <div class="form-group">
                    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-info" />
                </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
>>>>>>> charts_filter
