<!doctype html>

{% trans_default_domain 'FOSUserBundle' %}


<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Apple devices fullscreen -->
<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/plugins/jquery-ui/smoothness/jquery-ui.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/plugins/jquery-ui/smoothness/jquery.ui.theme.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/themes.css') }}" >
  <link rel="stylesheet" href="{{ asset('css/plugins/icheck/all.css') }}" >

{% endblock %}
{% block javascripts %}
    {#<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>#}
  <script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('js/plugins/nicescroll/jquery.nicescroll.min.js') }}"></script>
  <script src="{{ asset('js/plugins/imagesLoaded/jquery.imagesloaded.min.js') }}"></script>
  <script src="{{ asset('js/plugins/jquery-ui/jquery.ui.core.min.js') }}"></script>
  <script src="{{ asset('js/plugins/jquery-ui/jquery.ui.widget.min.js') }}"></script>
  <script src="{{ asset('js/plugins/jquery-ui/jquery.ui.mouse.min.js') }}"></script>
  <script src="{{ asset('js/plugins/jquery-ui/jquery.ui.resizable.min.js') }}"></script>
  <script src="{{ asset('js/plugins/jquery-ui/jquery.ui.sortable.min.js') }}"></script>
  <script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/plugins/bootbox/jquery.bootbox.js') }}"></script>
  <script src="{{ asset('js/eakroko.min.js') }}"></script>
  <script src="{{ asset('js/application.js') }}"></script>
  <script src="{{ asset('js/eakroko.js') }}"></script>
  <script src="{{ asset('js/plugins/icheck/jquery.icheck.min.js') }}"></script>
  <script src="{{ asset('js/demonstration.js') }}"></script>
  <script src="{{ asset('js/plugins/nicescroll/jquery.nicescroll.min.js') }}"></script>
  {# <script src="{{ asset('js/plugins/validation/jquery.validate.min.js') }}"></script> #}
  <script src="{{ asset('js/plugins/validation/additional-methods.min.js') }}"></script>
  {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
  {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
{% endblock %}
</head>



{% block content %}


{% if error %}
    <div class="alert alert-info" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<body class='login'>
	<div class="wrapper">
		<h1><a href=""><img src="{{asset('img/logo-big.png')}}" alt="" class='retina-ready' width="59" height="49">LOGIN</a></h1>
		<div class="login-body">
			<h2>SIGN IN</h2>
			<form action="{{ path("fos_user_security_check") }}" method='post' class='form-validate' id="test">
      {% if csrf_token %}
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      {% endif %}
				<div class="control-group">

           <label for="username">{{ 'security.login.username'|trans }}</label>
						<input type="text" name='_username'  value="{{ last_username }}" placeholder="User Name" required="required" class='input-block-level' data-rule-required="true" data-rule-email="true">

				</div>
				<div class="control-group">
					<div class="pw controls">

            <label for="password">{{ 'security.login.password'|trans }}</label>
						<input type="password" name="_password" placeholder="Password" required="required" class='input-block-level' data-rule-required="true">

					</div>

				</div>
				<div class="submit">
					<div class="remember">

          <input type="checkbox" id="remember_me" name="_remember_me" value="on" class='icheck-me' data-skin="square" data-color="blue" id="remember"/>
          <label for="remember">{{ 'security.login.remember_me'|trans }}</label>

					</div>
          <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class='btn btn-primary' value="sign me in" />
				</div>
			</form>
			<div class="forget">
				<a href="{{path('fos_user_resetting_request')}}"><span>Forgot password?</span></a>
			</div>
		</div>
	</div>
</body>



{% endblock %}
