{% extends 'main_filter.html.twig' %}

{% block nav %}
    {% include 'html/common/nav_top_dataentry_filter.html.twig' %}
{% endblock %}

{% block content %}
<div class="container">

  <div class="crumbs" role="">
    <ul id="breadcrumbs" class="breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="{{ path('dashboard_main') }}">Home</a>
      </li>
      <li class="">
        <a href="#" title="">
          {% if table == "admin_data" %}
          Admin Data
          {% endif %}
          {% if table == "catchup_data" %}
          Catchup Data
          {% endif %}
          {% if table == "icm_data" %}
          Icm Data
          {% endif %}
        </a>
      </li>
      <li class="current">
        <a href="{{ path(app.session.get('visited_url')) }}" title="">
          {% if('admin' in app.session.get('visited_url')) %} Data Entry
          {% elseif('icm' in app.session.get('visited_url')) %} Data Entry
          {% elseif('catchup' in app.session.get('visited_url')) %} Data Entry
          {% endif %}
        </a>
      </li>
    </ul>
  </div>

  <br>
  <div class="widget box">
    <div class="widget-header">
      <h4><i class="icon-reorder"></i> Data Entry </h4>
    </div>
    <div class="widget-content">
      {{ form_start(form, { 'action': path('entry_catchup_data'), 'method': 'POST', 'attr': { 'class': 'ajaxForm' } }) }}
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2">
              <!-- <label class="control-label">Vacc Day:</label> -->
              {{ form_widget(form.campaign, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'Campaign', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.campaign) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">Campaign ID:</label> -->
              {{ form_widget(form.subDistrictName, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'SubDName', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.subDistrictName) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">SubDistrictName:</label> -->
              {{ form_widget(form.regAbsent, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'RAbsent', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.regAbsent) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">Target Population:</label> -->
              {{ form_widget(form.vaccAbsent, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'VAbsent', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.vaccAbsent) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">Received Vials:</label> -->
              {{ form_widget(form.regSleep, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'RSleep', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.regSleep) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">Used Vials:</label> -->
              {{ form_widget(form.vaccSleep, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'VSleep', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.vaccSleep) }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2">
              <!-- <label class="control-label">Child001:</label> -->
              {{ form_widget(form.regRefusal, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'RRefusal', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.regRefusal) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">Child1259:</label> -->
              {{ form_widget(form.vaccRefusal, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'VRefusal', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.vaccRefusal) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">Reg Absent:</label> -->
              {{ form_widget(form.newMissed, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'NMissed', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.newMissed) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">Vacc Absent:</label> -->
              {{ form_widget(form.newVaccinated, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'NVaccinated', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.newVaccinated) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">Reg Sleep:</label> -->
              {{ form_widget(form.newRemaining, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'NRemaining', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.newRemaining) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">Cluster:</label> -->
              {{ form_widget(form.clusterNo, { 'attr': {'class': 'form-control input-width-medium', 'style': 'display: block', 'placeholder': 'Cluster', 'style': 'text-align: center'} }) }}
              {{ form_errors(form.clusterNo) }}
            </div>
            <div class="col-md-2">
              <!-- <label class="control-label">District Code:</label> -->
              {{ form_widget(form.districtCode) }}
              {{ form_errors(form.districtCode) }}
            </div>
            <br>
            <input type="submit" class="btn btn-info pull-right" value="Submit" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <br><br><br>
  <table id="example" cellspacing="0" width="100%">

  </table>

</div>
{% endblock %}

{% block script_end %}
<script>
$(document).ready(function(){

});

var source, sourceCols;
var campaignid, district, clustername, clusterno, subdisname, regabsent, vaccabsent,
regsleep, vaccsleep, regrefusal, vaccrefusal, newmissed, newvaccinated, newremaining;

sourceCols = [
  //{ "data": "clusterName", title : 'clusterName'},
  { "data": "clusterNo",  title : 'clusterNo'},
  { "data": "subDistrictName", "visible": false, title : 'subDistrictName'},
  { "data": "regAbsent", title : 'regAbsent'},
  { "data": "vaccAbsent", title : 'vaccAbsent'},
  { "data": "regSleep", "visible": false, title : 'regSleep'},
  { "data": "vaccSleep", "visible": false, title : 'vaccSleep'},
  { "data": "regRefusal", "visible": false, title : 'regRefusal'},
  { "data": "vaccRefusal", "visible": false, title : 'vaccRefusal'},
  { "data": "newMissed", "visible": false, title : 'newMissed'},
  { "data": "newVaccinated", "visible": false, title : 'newVaccinated'},
  { "data": "newRemaining", "visible": false, title : 'newRemaining'},
  { "data": "District", "visible": false, title : 'District'},
  { "data": "CampaignID", title : 'CampaignID'},
];
createDatatable(source, sourceCols);

function createDatatable(data, cols) {
  if ( $.fn.DataTable.isDataTable( '#example' ) ) {
    $('#example').DataTable().destroy();
    $('#example').empty();
  };

  table = $('#example').DataTable( {
    //  "processing": true,
    dom: 'frtip',
    "searching": false,
    //destroy: true,
    "pageLength": 25,
    "type"   : "POST",
    "columns": cols,
  } );
}

$('form.ajaxForm').on('submit', function () {
  var that = $(this),
  url= that.attr('action'),
  type= that.attr('method'),
  data = {};

  that.find('[name]').each(function(index, value) {
    var that = $(this),
    name = that.attr('name'),
    value = that.val();
    data[name] = value;
    if(name == 'app_poliodbbundle_catchupdata[clusterNo]')
    data[name] = $("#filterCluster option:selected" ).attr("value");
      // if(name == 'app_poliodbbundle_admindata[districtCode]')
      // data[name] = $("#filterDistrict option:selected" ).attr("value");

  });
  console.log(data);

  //clustername = $("#app_poliodbbundle_catchupdata_clusterName").val();
  clusterno = $("#app_poliodbbundle_catchupdata_clusterNo").val();
  subdisname = $("#app_poliodbbundle_catchupdata_subDistrictName").val();
  regabsent = $("#app_poliodbbundle_catchupdata_regAbsent").val();
  vaccabsent = $("#app_poliodbbundle_catchupdata_vaccAbsent").val();
  regsleep = $("#app_poliodbbundle_catchupdata_regSleep").val();
  vaccsleep = $("#app_poliodbbundle_catchupdata_vaccSleep").val();
  regrefusal = $("#app_poliodbbundle_catchupdata_regRefusal").val();
  vaccrefusal = $("#app_poliodbbundle_catchupdata_vaccRefusal").val();
  newmissed = $("#app_poliodbbundle_catchupdata_newMissed").val();
  newvaccinated = $("#app_poliodbbundle_catchupdata_newVaccinated").val();
  newremaining = $("#app_poliodbbundle_catchupdata_newRemaining").val();
  district = $("#app_poliodbbundle_catchupdata_districtCode").val();
  compaignid = $("#app_poliodbbundle_catchupdata_campaign").val();
  console.log(clusterno);

  $.ajax({
    type: type,
    url: url,
    data: data,
    success: function(response){
      //console.log(data);  { "data": "noTeamMonitored", title : 'Cluster'},
      table.row.add({
      "clusterNo":       clusterno,
      "subDistrictName":   subdisname,
      "regAbsent":     regabsent,
      "vaccAbsent": vaccabsent,
      "regSleep":     regsleep,
      "vaccSleep":       vaccsleep,
      "regRefusal":   regrefusal,
      "vaccRefusal":     vaccrefusal,
      "newMissed": newmissed,
      "newVaccinated":     newvaccinated,
      "newRemaining":       newremaining,
      "District":     district,
      "CampaignID":       compaignid,
    }).draw(false);
  }
});
return false;
});
</script>
{% endblock %}
